// VARIABLES
$color-dark: #222f3e;
$color-light: #c8d6e5;

$font-header: 'DM Serif Display', serif;
$font-text: 'DM Sans', sans-serif;

// GLOBAL
body {
    background: $color-dark;
    color: $color-light;
}

h1, h3 {
    font-family: $font-header;
}

h3 {
    font-style: italic;
}

p {
    font-family: $font-text;
}

// LYRICS
.lyrics {
    display: flex;
    align-items: center;
    justify-content: center;
}